{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entities \EasyCorp\Bundle\EasyAdminBundle\Collection\EntityCollection #}
{% set ea = ea() %}
{% trans_default_domain ea.i18n.translationDomain %}

{{ block('main', ea.templatePath('crud/index')) }}

{#<div class="card card-table">#}
{#    <div class="card-body">#}
{#        <table class="table datagrid"#}
{#               data-controller="embedded-crud-index"#}
{#               data-default-action-trigger="{{ ea.crud.defaultRowActionTrigger|default('double') }}">#}
{#            {% if entities|length > 0 %}#}
{#                <thead>#}
{#                <tr>#}
{#                    {% for subField in entities.first.fields %}#}
{#                        {% if subField.templatePath is not null %}#}
{#                            <th data-column="{{ subField.property }}"#}
{#                                dir="ltr"#}
{#                                class="header-for-{{ subField.cssClass|split(' ')|filter(class => class starts with 'field-')|join('') }} text-{{ subField.textAlign }}"#}
{#                            >#}
{#                                <span>{{ subField.label|trans|raw }}</span>#}
{#                            </th>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}

{#                    <th class="{{ ea.crud.showEntityActionsAsDropdown ? 'actions-as-dropdown-table-head' }}" dir="{{ ea.i18n.textDirection }}">#}
{#                        <span class="visually-hidden">{{ t('action.entity_actions', ea.i18n.translationParameters|default({}), 'EasyAdminBundle')|trans }}</span>#}
{#                    </th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for entity in entities %}#}
{#                    <tr data-id="{{ entity.primaryKeyValueAsString }}" {% if entity.defaultActionUrl %}data-default-action-url="{{ entity.defaultActionUrl }}" class="ea-clickable-row" role="link" tabindex="0"{% endif %} {% block entity_row_attributes %}{% endblock %}>#}
{#                        {% for subField in entity.fields %}#}
{#                            {% if subField.templatePath is not null %}#}
{#                                <td data-column="{{ subField.property }}"#}
{#                                    data-label="{{ subField.label|trans|e('html') }}"#}
{#                                    dir="ltr"#}
{#                                    class="{{ subField.cssClass }}"#}
{#                                >#}
{#                                    {{ include(subField.templatePath, { field: subField, entity: entity }, with_context = false) }}#}
{#                                </td>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}

{#                        <td class="actions {{ ea.crud.showEntityActionsAsDropdown ? 'actions-as-dropdown' }}">#}
{#                            {% if entity.actions.count > 0 %}#}
{#                                {% if ea.crud.showEntityActionsAsDropdown %}#}
{#                                    {% set hasAnyActionWithIcon = entity.actions|filter(item => item.isActionGroup ? false : item.icon is not null)|length > 0 %}#}
{#                                    <twig:ea:ActionMenu class="dropdown-actions">#}
{#                                        <twig:ea:ActionMenu:Button withoutDropdownToggleMarker>#}
{#                                            <twig:ea:Icon name="internal:dots-horizontal" />#}
{#                                        </twig:ea:ActionMenu:Button>#}

{#                                        <twig:ea:ActionMenu:Overlay>#}
{#                                            <twig:ea:ActionMenu:ActionList hasSubmenus="{{ entity.actions|filter(item => item.isActionGroup)|length > 0 }}">#}
{#                                                {% for item in entity.actions %}#}
{#                                                    {% if item.isActionGroup %}#}
{#                                                        <twig:ea:ActionMenu:ActionList:ItemGroup#}
{#                                                            group="{{ item }}"#}
{#                                                            showBlankIcons="{{ hasAnyActionWithIcon }}"#}
{#                                                            entity="{{ entity }}" />#}
{#                                                    {% else %}#}
{#                                                        <twig:ea:ActionMenu:ActionList:Item#}
{#                                                            class="{{ item.cssClass }} dropdown-item-variant-{{ item.variant.value }}" url="{{ item.linkUrl }}"#}
{#                                                            icon="{{ item.icon }}" icon:class="action-icon"#}
{#                                                            htmlAttributes="{{ item.htmlAttributes }}"#}
{#                                                            renderAsForm="{{ item.isRenderedAsForm }}"#}
{#                                                            label="{{ item.label|trans }}" label:class="action-label" renderLabelRaw#}
{#                                                            showBlankIcons="{{ hasAnyActionWithIcon }}" />#}
{#                                                    {% endif %}#}
{#                                                {% endfor %}#}
{#                                            </twig:ea:ActionMenu:ActionList>#}
{#                                        </twig:ea:ActionMenu:Overlay>#}
{#                                    </twig:ea:ActionMenu>#}
{#                                {% else %}#}
{#                                    {% for action in entity.actions %}#}
{#                                        {% if action.isActionGroup %}#}
{#                                            {{ include(action.templatePath, {group: action, entity: entity}, with_context: false) }}#}
{#                                        {% else %}#}
{#                                            {{ include(action.templatePath, {action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown}, with_context: false) }}#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            {% else %}#}
{#                {% for i in 1..14 %}#}
{#                    <tr class="empty-row">#}
{#                        <td><span></span></td>#}
{#                        <td><span></span></td>#}
{#                        <td><span></span></td>#}
{#                        <td><span></span></td>#}
{#                        <td><span></span></td>#}
{#                        <td><span></span></td>#}
{#                    </tr>#}

{#                    {% if 3 == loop.index %}#}
{#                        <tr class="no-results">#}
{#                            <td colspan="100">#}
{#                                {{ t('datagrid.no_results', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </table>#}
{#    </div>#}
{#</div>#}
